@font-face {
  font-family: "Sun Zoom Spark";
  src: url("../../../fonts/szs.ttf");
}

$SZS: "Sun Zoom Spark";

@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");
$AM: "Amaranth";

$AMReg: 400;
$AMBold: 700;
