@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");
@font-face {
  font-family: "Sun Zoom Spark";
  src: url("../../../fonts/szs.ttf");
}

#aboutBackground {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

#aboutBackground .about-background-box {
  max-width: 1500px;
  margin: auto !important;
}

#aboutBackground .about-background-box .about-background-row .about-background-side {
  height: 700px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt {
  width: 100%;
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt .about-background-text {
  max-width: 600px;
  margin: auto !important;
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt .about-background-text h2 {
  font-family: "Sun Zoom Spark";
  font-size: clamp(5rem, 6vw, 6rem);
  text-transform: uppercase;
  -webkit-filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.13));
  padding-bottom: 25px !important;
  color: #dc986a;
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt .about-background-text p {
  font-family: "Amaranth";
  font-size: 20px;
  opacity: 0.6;
  padding-bottom: 30px !important;
  max-width: 800px;
  margin: auto !important;
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt .about-background-text a {
  background-color: #659dbd;
  color: white;
  padding: 10px !important;
  font-family: "Amaranth";
  font-size: 20px;
  display: block;
  width: 100%;
  max-width: 150px;
  text-align: center;
  margin: auto !important;
  margin-right: 0 !important;
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt .about-background-text a:hover {
  background-color: rgba(43, 93, 43, 0.664);
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt .about-background-bgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#aboutBackground .about-background-box .about-background-row .about-background-side .about-background-side-cnt .about-background-bgs div {
  height: 700px;
  width: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutTestimonials {
  margin-bottom: 100px !important;
}

#aboutTestimonials .about-testimonials-holder {
  max-width: 1500px;
  margin: auto !important;
  background-color: ghostwhite;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#aboutTestimonials .about-testimonials-holder .slick-dots {
  bottom: -35px;
}

#aboutTestimonials .about-testimonials-holder .slick-slide {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#aboutTestimonials .about-testimonials-holder .slick-slide .about-testimonial-slide {
  opacity: 0.5;
  max-width: 80%;
  margin: auto !important;
  text-align: center;
  height: 320px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.102);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.102);
  position: relative;
  bottom: -4px;
}

#aboutTestimonials .about-testimonials-holder .slick-slide .about-testimonial-slide:hover {
  opacity: 1;
  bottom: 0;
}

#aboutTestimonials .about-testimonials-holder .slick-slide .about-testimonial-slide .about-testimonial-slide-inner div img {
  max-width: 120px;
  margin: auto !important;
  border-radius: 50%;
  margin-bottom: 20px !important;
}

#aboutTestimonials .about-testimonials-holder .slick-slide .about-testimonial-slide .about-testimonial-slide-inner div blockquote {
  margin: auto !important;
  max-width: 80%;
  padding: 10px !important;
  font-size: 18px;
  font-family: "Amaranth";
  opacity: 0.6;
}

#aboutTestimonials .about-testimonials-holder .slick-slide .about-testimonial-slide .about-testimonial-slide-inner div span {
  font-family: "Sun Zoom Spark";
  font-size: 40px;
  color: #dc986a;
}

#aboutGoals {
  padding-bottom: 200px !important;
}

#aboutGoals .about-goals-box {
  max-width: 1500px;
  margin: auto !important;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side {
  height: 700px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt {
  width: 100%;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt .about-goals-bgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt .about-goals-bgs div {
  height: 700px;
  width: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt .about-goals-text {
  max-width: 600px;
  margin: auto !important;
  margin-left: 0 !important;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt .about-goals-text h2 {
  font-family: "Sun Zoom Spark";
  font-size: clamp(5rem, 6vw, 6rem);
  text-transform: uppercase;
  -webkit-filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.13));
  padding-bottom: 25px !important;
  color: #dc986a;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt .about-goals-text p {
  font-family: "Amaranth";
  font-size: 20px;
  opacity: 0.6;
  padding-bottom: 30px !important;
  max-width: 800px;
  margin: auto !important;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt .about-goals-text a {
  background-color: #659dbd;
  color: white;
  padding: 10px !important;
  font-family: "Amaranth";
  font-size: 20px;
  display: block;
  width: 100%;
  max-width: 150px;
  text-align: center;
  margin: auto !important;
  margin-right: 0 !important;
}

#aboutGoals .about-goals-box .about-goals-row .about-goals-side .about-goals-side-cnt .about-goals-text a:hover {
  background-color: rgba(43, 93, 43, 0.664);
}
/*# sourceMappingURL=about_components.css.map */