@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");
@font-face {
  font-family: "Sun Zoom Spark";
  src: url("../../../fonts/szs.ttf");
}

#exhibitsTopBGS {
  position: relative;
  height: 390px;
}

#exhibitsTopBGS .exhibits-top-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#exhibitsTopBGS #eTopBGOne {
  z-index: 100;
  background-position: 0% 40%;
}

#exhibitsTopBGS #eTopBGTwo {
  z-index: 99;
  background-position: 0% 30%;
}

#exhibitsTopBGS #eTopBGThree {
  z-index: 98;
  background-position: 0% 40%;
}

#exhibitsMainTop {
  padding: 40px !important;
  padding-top: 100px !important;
  padding-bottom: 300px !important;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#exhibitsMainTop .exhibits-main-top-cnt {
  max-width: 1200px;
  margin: auto !important;
  width: 100%;
}

#exhibitsMainTop .exhibits-main-top-cnt h2 {
  font-family: "Sun Zoom Spark";
  font-size: clamp(5rem, 6vw, 6rem);
  text-transform: uppercase;
  -webkit-filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.13));
  padding-bottom: 15px !important;
  color: #dc986a;
}

#exhibitsMainTop .exhibits-main-top-cnt p {
  font-family: "Amaranth";
  font-size: 20px;
  opacity: 0.6;
  padding-bottom: 30px !important;
  margin: auto !important;
  margin-left: 0 !important;
  max-width: 800px;
}

#exhibitsGroupBtns {
  max-width: 1200px;
  margin: auto !important;
  width: 100%;
}

#exhibitsGroupBtns div {
  max-width: 600px;
  margin: auto !important;
  margin-left: 0 !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#exhibitsGroupBtns div button {
  background-color: #dc986a;
  color: white;
  padding: 10px !important;
  font-family: "Amaranth";
  font-size: 23px;
  text-transform: uppercase;
}

.active-btn {
  opacity: 0.5;
  pointer-events: none;
}

#exhibitsGroupItems {
  max-width: 1200px;
  margin: auto !important;
  width: 100%;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

#exhibitsGroupItems .exhibits-group-items-box {
  height: 900px;
}

#exhibitsGroupItems .exhibits-group-items-box .exhibits-group-item {
  height: 300px;
  margin-top: 20px !important;
  overflow: hidden;
  white-space: nowrap;
}

#exhibitsGroupItems .exhibits-group-items-box .exhibits-group-item .exhibits-group-item-inner {
  width: 100%;
  max-width: 95%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: ghostwhite;
}

#exhibitsGroupModalDarken {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 600;
}

.exhibit-group-item-modal {
  position: fixed;
  width: 100%;
  height: 70%;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 601;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.exhibit-group-item-modal .exhibit-group-item-modal-img {
  height: 600px;
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.exhibit-group-item-modal .exhibit-group-item-modal-cnt {
  height: 40px;
}

.exhibit-group-item-modal .exhibit-group-item-modal-cnt button {
  background-color: #dc986a;
  color: white;
  padding: 10px !important;
  font-family: "Amaranth";
  font-size: 20px;
}

#exhibitsTicketsMain {
  position: relative;
}

#exhibitsTicketsMain .exhibits-tickets-main-box {
  position: relative;
  max-width: 1400px;
  margin: auto !important;
  padding-top: 100px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

#exhibitsTicketsMain .exhibits-tickets-main-box .exhibits-tickets-main-text {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.53);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
}

#exhibitsTicketsMain .exhibits-tickets-main-box .exhibits-tickets-main-text div {
  max-width: 85%;
  margin: auto !important;
  width: 100%;
  color: white;
}

#exhibitsTicketsMain .exhibits-tickets-main-box .exhibits-tickets-main-text div h2 {
  font-family: "Sun Zoom Spark";
  font-size: clamp(3rem, 4vw, 4rem);
  padding-bottom: 20px !important;
}

#exhibitsTicketsMain .exhibits-tickets-main-box .exhibits-tickets-main-text div span {
  background-color: #daad86;
  padding: 10px !important;
  font-family: "Amaranth";
  font-size: 23px;
  text-transform: lowercase;
  cursor: pointer;
}

#exhibitsTicketsMain .exhibits-tickets-main-box .exhibits-tickets-main-text div span:hover {
  background-color: #dc986a;
}
/*# sourceMappingURL=exhibits_components.css.map */